header{
    background-color: #007ea7;
}

h1{
   
    font-family: 'Ranchers', cursive;
    letter-spacing: 5px;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 20px;
}


dl{
    border: 1px solid #ccc;
    width: 40vw;
    margin: 30px auto;
    padding: 40px;
    background-color: #343a40;
}



dt {
    background-color: #B8C1C8;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-radius: 20%;
    color: #FFF;
    font: bold 21px Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 2px 0 0 12px;
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
}

dd {
    font:  20px/45px Helvetica, Arial, sans-serif;
    white-space: nowrap;
    color: #fff;
}

.color1 {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    background-color: #f77f00;
    width: 40px;
    display: inline-block;
    text-align: center;
}

span{
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

i{
    margin: 20px ;
    float: right;
}

.color2 {
    
    background-color: #ef476f;
}
.color3 {
    
    background-color: #4cc9f0;
}
.color4 {

    background-color: #43aa8b;
}
.color5 {
  
    background-color: #ffd60a;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400px;
    position: relative;
}

nav li:nth-of-type(1) a i {
    position: absolute;
    top: -45px;
    left: 22px;
}

nav li:nth-of-type(2) a i {
    position: absolute;
    top: -45px;
    left: 12px;
}

nav li:nth-of-type(3) a i {
    position: absolute;
    top: -45px;
    left: 12px;
}

nav ul {
    list-style: none;
    
}

nav li{
    display: inline-block;
    padding: 20px;
    
}

nav li:nth-of-type(1){
    float: left;

}

nav li:nth-of-type(3){
    float: right;
    
}


nav {
    
    width: 40%;
    margin: auto;
    text-align: center;
    
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 4%;
    
}